@using Microsoft.AspNetCore.Authorization

@{
    var authorizationService = (IAuthorizationService)ViewBag.AuthorizationService;
}
<div id="manager" class="show-grid"></div>

@section scripts
{
    <script type='text/javascript'>


    </script>
}

