
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Temp</title>
</head>
<body>
<h2>Account</h2>

    <div>
    </div>
</body>
</html>
