@{
    Layout = "_LayoutHome";
}
<!-- Content -->
    <div id="home-page">
        <!--======= HOME MAIN SLIDER =========-->
        <section class="home-slider">
            <!-- Slider Loader -->
            <div id="loader" class="hom-slie">
                <div class="tp-loader spinner0"> <span class="dot1"></span> <span class="dot2"></span> <span class="bounce1"></span> <span class="bounce2"></span> <span class="bounce3"></span> </div>
            </div>

            <!-- SLIDE Start -->
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/slide-01.png" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfb font-bold tp-resizeme letter-space-4"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="-80"
                                 data-speed="800"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="words"
                                 data-splitout="none"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 6; font-size:35px; color:#fff; text-transform:uppercase; white-space: nowrap;">设计灵感</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfb font-bold tp-resizeme letter-space-3"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-speed="800"
                                 data-start="1300"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="words"
                                 data-splitout="none"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 6; font-size:70px; color:#1cd1aa; text-transform:uppercase; white-space: nowrap;">魔幻炫彩的响应式设计</div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sfb tp-resizeme letter-space-1"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="70"
                                 data-speed="800"
                                 data-start="1800"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 7; font-size:18px;  font-style:italic; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">精益求精,追求卓越！</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption lfb tp-resizeme"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="150"
                                 data-speed="800"
                                 data-start="2200"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 data-scrolloffset="0"
                                 style="z-index: 8;"><a href="/api/parakeet/need/create" class="btn margin-right-20">联系我们</a></div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/slide-02.png" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr font-bold tp-resizeme letter-space-4"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="-80"
                                 data-speed="800"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 6; font-size: 35px; color: #fff; text-transform: uppercase; white-space: nowrap;">重庆博文科技欢迎您！</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr font-bold tp-resizeme letter-space-3"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-speed="800"
                                 data-start="1300"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 6; font-size: 70px; color: #1cd1aa; text-transform: uppercase; white-space: nowrap;">专业网站开发/系统定制</div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sfb tp-resizeme letter-space-1"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="70"
                                 data-speed="800"
                                 data-start="1800"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 7; font-size: 18px; font-style: italic; color: #fff; max-width: auto; max-height: auto; white-space: nowrap;">每天进步一点点...</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption lfb tp-resizeme"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="150"
                                 data-speed="800"
                                 data-start="2200"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 data-scrolloffset="0"
                                 style="z-index: 8;"><a href="/api/parakeet/need/create" class="btn margin-right-20">系统定制</a><a href="/api/parakeet/need/create" class="btn btn-white">开始</a></div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/slide-003.png" alt="home_slider3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption font-bold tp-resizeme"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="-60"
                                 data-speed="100"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; font-size: 45px; color: #fff; max-width: auto; text-transform: uppercase; max-height: auto; white-space: nowrap;">小鹦鹉工作室</div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption font-bold tp-resizeme"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-speed="100"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; font-size: 45px; color: #1cd1aa; max-width: auto; text-transform: uppercase; max-height: auto; white-space: nowrap;">为您提供优质服务.</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption font-italic font-lora sfb tp-resizeme text-center"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="80"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.07"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 7; font-size: 18px; font-style: italic; color: #fff; max-width: auto; max-height: auto; white-space: nowrap;">
                                复杂业务系统研究<br>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption skewfromleft tp-resizeme"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="170"
                                 data-speed="500"
                                 data-start="2000"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#." class="btn">打赏</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Welcome -->
        <section class="padding-top-50 padding-bottom-100">
            <div class="container">

                <!-- Heading -->
                <div class="heading text-center">
                    <h4>项目演示</h4>
                    <span>界面/功能设计</span>
                    <hr>
                </div>

                <!-- OFFER -->
                <div class="offers">
                    <ul class="row">
                        <li class="col-sm-4">
                            <img src="~/images/logo-parakeet24.png" class="img-responsive" alt="">
                            <h5>系统1</h5>
                            <hr class="main">
                            <p>系统1描述</p>
                            <a href="#.">更多... <i class="fa fa-long-arrow-right"></i></a>
                        </li>
                        <li class="col-sm-4">
                            <img src="~/images/logo-parakeet15.png" class="img-responsive" alt="">
                            <h5> 系统2</h5>
                            <hr class="main">
                            <p>系统2描述</p>
                            <a href="#.">更多...<i class="fa fa-long-arrow-right"></i></a>
                        </li>
                        <li class="col-sm-4">
                            <img src="~/images/logo-parakeet23.png" class="img-responsive" alt="">
                            <h5>系统3</h5>
                            <hr class="main">
                            <p>系统3描述</p>
                            <a href="#.">更多... <i class="fa fa-long-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Gallery -->
        <section>
            <div class="container">

                <!-- Heading -->
                <div class="heading text-center">
                    <h4>领域</h4>
                    <span>企业网站信息化建设，复杂业务逻辑系统定制，微信公众号/小程序</span>
                    <hr>
                </div>
            </div>

            <!-- PORTFOLIO -->
            <div class="portfolio port-wrap">
                <!-- Work Filter -->
                <ul class="portfolio-filter text-center margin-bottom-80">
                    <li><a class="active" href="#." data-filter="*">计划管理</a></li>
                    <li><a href="#." data-filter=".pf-digital-art">财务测算</a></li>
                    <li><a href="#." data-filter=".pf-branding-design">订单管理 </a></li>
                    <li><a href="#." data-filter=".pf-photography">云汽修管理 </a></li>
                    <li><a href="#." data-filter=".pf-web-design">物业管理 </a></li>
                </ul>

                <!-- PORTFOLIO ITEMS -->

                <div class="items row col-4">

                    <!-- ITEM -->
                    <article class="portfolio-item pf-branding-design pf-web-design">
                        <div class="portfolio-image"> <a href="#."> <img alt="" src="~/images/img-1.jpg"> </a> </div>
                        <div class="portfolio-overlay">
                            <div class="position-center-center"> <a href="#."><i class="ion-link"></i></a> </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-photography">
                        <div class="portfolio-image"> <a href="#."> <img alt="" src="~/images/img-2.jpg"> </a> </div>
                        <div class="portfolio-overlay">
                            <div class="position-center-center"> <a href="#."><i class="ion-link"></i></a> </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-web-design pf-branding-design">
                        <div class="portfolio-image"> <a href="#."> <img alt="" src="~/images/img-3.jpg"> </a> </div>
                        <div class="portfolio-overlay">
                            <div class="position-center-center"> <a href="#."><i class="ion-link"></i></a> </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-branding-design pf-digital-art">
                        <div class="portfolio-image"> <a href="#."> <img alt="" src="~/images/img-6.jpg"> </a> </div>
                        <div class="portfolio-overlay">
                            <div class="position-center-center"> <a href="#."><i class="ion-link"></i></a> </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-web-design pf-digital-art pf-branding-design">
                        <div class="portfolio-image"> <a href="#."> <img alt="" src="~/images/img-4.jpg"> </a> </div>
                        <div class="portfolio-overlay">
                            <div class="position-center-center"> <a href="#."><i class="ion-link"></i></a> </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-branding-design pf-digital-art">
                        <div class="portfolio-image"> <a href="#."> <img alt="" src="~/images/img-5.jpg"> </a> </div>
                        <div class="portfolio-overlay">
                            <div class="position-center-center"> <a href="#."><i class="ion-link"></i></a> </div>
                        </div>
                    </article>
                    <!-- ITEM -->
                    <article class="pf-digital-art">
                        <div class="portfolio-image"> <a href="#."> <img alt="" src="~/images/img-6.jpg"> </a> </div>
                        <div class="portfolio-overlay">
                            <div class="position-center-center"> <a href="#."><i class="ion-link"></i></a> </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="text-center"></div>
        </section>

        <!-- TEAM -->
        <section class="innovaction padding-top-150 padding-bottom-150">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">

                        <!-- Heading -->
                        <div class="heading text-left white">
                            <h4>个人风采</h4>
                            <span>技能</span>
                            <hr>
                        </div>

                        <!-- Skills -->
                        <div class="team-skills ">
                            <!-- Skills Bars -->
                            <div class="progress-bars style-1">

                                <!-- Photoshop -->
                                <div class="bar">
                                    <p>架构设计 </p>
                                    <div class="progress" data-percent="95%">
                                        <div class="progress-bar"> <span class="progress-bar-tooltip caret-down">95%</span></div>
                                    </div>
                                </div>

                                <!-- ILLUSTRATOR -->
                                <div class="bar">
                                    <p>前端设计 HTML5 CSS3</p>
                                    <div class="progress" data-percent="75%">
                                        <div class="progress-bar progress-bar-primary"><span class="progress-bar-tooltip caret-down">75%</span> </div>
                                    </div>
                                </div>

                                <!-- ILLUSTRATOR -->
                                <div class="bar">
                                    <p>net开发技能</p>
                                    <div class="progress" data-percent="80%">
                                        <div class="progress-bar progress-bar-primary"><span class="progress-bar-tooltip caret-down">80%</span> </div>
                                    </div>
                                </div>
                                <!-- ILLUSTRATOR -->
                                <div class="bar">
                                    <p>数据库/系统运维</p>
                                    <div class="progress" data-percent="60%">
                                        <div class="progress-bar progress-bar-primary"><span class="progress-bar-tooltip caret-down">60%</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Image -->
                    <div class="col-sm-6 text-right"> <img class="img-responsive" src="~/images/parakeet.png" alt=""> </div>
                </div>
            </div>
        </section>

        <!-- TEAM -->
        <section class="padding-top-150 padding-bottom-150">
            <div class="container">

                <!-- Heading -->
                <div class="heading text-center">
                    <h4>团队</h4>
                    <span>团队成员</span>
                    <hr>
                </div>

                <!-- TEAM -->
                <div class="team">

                    <div class="row">

                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-1.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>陈博文</h5>
                                        <span>前端开发工程师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-2.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>陈博文</h5>
                                        <span>架构师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-3.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>陈博文</h5>
                                        <span>后端开发工程师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>
                    @*
                    <div class="row">

                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-19.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>陈博文</h5>
                                        <span>后端开发工程师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-3.jpg" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>Parakeet</h5>
                                        <span>前端开发工程师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-20.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>陈双全</h5>
                                        <span>架构师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="row">


                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-16.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>陈双全</h5>
                                        <span>架构师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-13.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>陈博文</h5>
                                        <span>后端开发工程师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!-- MEMBER -->
                        <div class="col-md-4">
                            <article>
                                <img class="img-responsive" src="~/images/member-15.png" alt="">
                                <div class="team-hover">
                                    <div class="team-name">
                                        <h5>Parakeet</h5>
                                        <span>前端开发工程师</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    *@

                </div>
            </div>
        </section>

        <!-- FACTS -->
        <section class="facts parallax-bg padding-top-150 padding-bottom-150" data-stellar-background-ratio="0.5">
            <div class="container">

                <!-- Heading -->
                <div class="heading text-center white">
                    <h4>Fun FActs</h4>
                    <span>Don't Be Vague</span>
                    <hr>
                </div>
                <div class="row">
                    <!-- Team Member -->
                    <div class="col-md-3 margin-bottom-30">
                        <i class="icon-anchor"></i>
                        <div class="fats-conter">
                            <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="35" data-from="0">500 </span> </span>
                            <h5>Project Completed</h5>
                        </div>
                    </div>

                    <!-- Line Of Codes -->
                    <div class="col-md-3 margin-bottom-30">
                        <i class="icon-pencil"></i>
                        <div class="fats-conter">
                            <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="5225" data-from="0">254 </span> </span>
                            <h5>Line Of Codes</h5>
                        </div>
                    </div>

                    <!-- Satisfied Client -->
                    <div class="col-md-3  margin-bottom-30">
                        <i class="icon-heart"></i>
                        <div class="fats-conter">
                            <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="4977" data-from="0">184 </span> </span>
                            <h5>Happy Clients</h5>
                        </div>
                    </div>

                    <!-- PSD file included -->
                    <div class="col-md-3 margin-bottom-30">
                        <i class="icon-bike"></i>
                        <div class="fats-conter">
                            <span class="number"> <span class="timer" data-speed="2000" data-refresh-interval="100" data-to="178" data-from="0">35k </span> </span>
                            <h5>Km Drive</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial -->
        <section class="testimonial padding-top-150 padding-bottom-150">
            <div class="container">

                <!-- Heading -->
                <div class="heading text-center">
                    <h4>Our Testimonials</h4>
                    <span>Solutions For a Small Testimonial</span>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <!-- Test Slider -->
                        <div class="testi">
                            <div class="two-slider">

                                <!-- Slider 1 -->
                                <div class="in-testi">

                                    <!-- Avatars -->
                                    <div class="avatars"> <img src="~/images/avatar-1.jpg" alt=""> </div>
                                    <div class="testi-name">
                                        <h5>Steven Smith</h5>
                                        <span>CEO Of Premio</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams What might be right for you may not be to right for some Now the world. </p>
                                </div>

                                <!-- Slider 1 -->

                                <div class="in-testi">

                                    <!-- Avatars -->
                                    <div class="avatars"> <img src="~/images/avatar-2.jpg" alt=""> </div>
                                    <div class="testi-name">
                                        <h5>Steven Smith</h5>
                                        <span>Designer</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams What might be right for you may not be to right for some Now the world. </p>
                                </div>
                                <!-- Slider 1 -->
                                <div class="in-testi">

                                    <!-- Avatars -->
                                    <div class="avatars"> <img src="~/images/avatar-1.jpg" alt=""> </div>
                                    <div class="testi-name">
                                        <h5>Steven Smith</h5>
                                        <span>Designer</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams What might be right for you may not be to right for some Now the world. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CLIENTS -->
                @*<div class="clients-img col-4 padding-top-150">
                    <ul class="row">
                        <li> <a href="#."> <img src="~/images/c-img-1.png" class="img-responsive" alt=""> </a></li>
                        <li> <a href="#."> <img src="~/images/c-img-2.png" class="img-responsive" alt=""> </a> </li>
                        <li> <a href="#."> <img src="~/images/c-img-3.png" class="img-responsive" alt=""> </a></li>
                        <li> <a href="#."> <img src="~/images/c-img-4.png" class="img-responsive" alt=""> </a> </li>
                    </ul>
                </div>*@
            </div>
        </section>

        <!-- Blog -->
        @*<section class="blog light-gray-bg padding-bottom-100 padding-top-100">
            <div class="container">

                <!-- Heading -->
                <div class="heading text-center">
                    <h4>Latest News</h4>
                    <span>Creative Blogs</span>
                    <hr>
                </div>

                <!-- Row -->
                <div class="row">

                    <!-- BLOG POST -->
                    <div class="col-md-4">
                        <article>
                            <img class="img-responsive" src="~/images/post-img-1.jpg" alt="">
                            <div class="post-info">
                                <div class="post-in">
                                    <div class="extra"> <span><i class="icon-calendar"></i>8 14, 2016</span> </div>
                                    <a href="#." class="tittle-post">It's Good To Talk Photography </a> <a href="#.">Read More <i class="fa fa-long-arrow-right margin-left-10"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- BLOG POST -->
                    <div class="col-md-4">
                        <article>
                            <img class="img-responsive" src="~/images/post-img-2.jpg" alt="">
                            <div class="post-info">
                                <div class="post-in">
                                    <div class="extra"> <span><i class="icon-calendar"></i>Aug 29, 2015</span> </div>
                                    <a href="#." class="tittle-post">It's Good To Talk Photography </a> <a href="#.">Read More <i class="fa fa-long-arrow-right margin-left-10"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- BLOG POST -->
                    <div class="col-md-4">
                        <article>
                            <img class="img-responsive" src="~/images/post-img-3.jpg" alt="">
                            <div class="post-info">
                                <div class="post-in">
                                    <div class="extra"> <span><i class="icon-calendar"></i>Aug 29, 2015</span> </div>
                                    <a href="#." class="tittle-post">It's Good To Talk Photography </a> <a href="#.">Read More <i class="fa fa-long-arrow-right margin-left-10"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>*@

        <!-- CONTACT US -->
        <section class="contact-us padding-top-150 padding-bottom-150">
            <div class="container">

                <!-- Heading -->
                <div class="heading text-center white">
                    <h4>Contact Us</h4>
                    <span>Get in Touch</span>
                    <hr>
                </div>
                <div class="row">

                    <!-- FORM -->
                    <div class="col-md-8">
                        <div class="contact-form">

                            <!-- FORM -->
                            <form role="form" id="contact_form" class="contact-form" method="post" onSubmit="return false">
                                <ul class="row">
                                    <li class="col-sm-6">
                                        <label>
                                            *NAME
                                            <input type="text" class="form-control" name="name" id="name" placeholder="">
                                        </label>
                                    </li>
                                    <li class="col-sm-6">
                                        <label>
                                            *EMAIL
                                            <input type="text" class="form-control" name="email" id="email" placeholder="">
                                        </label>
                                    </li>
                                    <li class="col-sm-12">
                                        <label>
                                            *MESSAGE
                                            <textarea class="form-control" name="message" id="message" rows="5" placeholder=""></textarea>
                                        </label>
                                    </li>
                                    <li class="col-sm-12 no-margin">
                                        <button type="submit" value="submit" class="btn" id="btn_submit" onClick="proceed();">SEND NOW <i class="fa fa-long-arrow-right"></i></button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>

                    <!-- FORM -->
                    <div class="col-md-4">
                        <ul class="contact-info">

                            <!-- Email -->
                            <li>
                                <div class="media-left"> <i class="fa fa-envelope"></i> </div>
                                <div class="media-body">
                                    <h6>Email</h6>
                                    <p>290668617@qq.com</p>
                                    <p>290668617@qq.com</p>
                                </div>
                            </li>

                            <!-- Address -->
                            <li>
                                <div class="media-left"> <i class="fa fa-map-marker"></i> </div>
                                <div class="media-body">
                                    <h6>Address</h6>
                                    <p>
                                        Andrew Cross 50 Front Street
                                        KNOTTY GREEN HP9 2WB
                                    </p>
                                </div>
                            </li>

                            <!-- Address -->
                            <li>
                                <div class="media-left"> <i class="fa fa-phone"></i> </div>
                                <div class="media-body">
                                    <h6>Phone</h6>
                                    <p>+86 17772433927</p>
                                    <p>+86 17772433927</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

