@{
    var workYear = DateTime.Now.Year - 2011;
}
<div id="author">
    <div class="row">
        <!-- MEMBER -->
        <div class="col-md-4 offset-4">
            <article style="text-align:center">
                <img src="~/images/member-2.png" height="200" alt="">
                <div class="team-hover">
                    <div class="team-name">
                        <h5>陈双全<small>17772333927</small></h5>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <h1>
        个人简历...
    </h1>
    <p>
        本人自2011年7月毕业以来，参加工作@(workYear)年，
        2年船厂建筑劳动和主管见习工作和其中1年物理实验室经验
        @(workYear - 2)年.net软件工程师开发经验，

    </p>

    <p>
        一、本人软件行业相关经历：                                            <br />
        2013年回渝至今，一直专注于.Net行业，前后端均有一定程度深入               <br />
        1、3年物业/汽修软件全栈程序员                                             <br />
        2、1年国外项目全栈程序员                                              <br />
        3、2年建筑行业财务系统                                              <br />
        4、2年建筑行业产品和项目(AbpVnext .NetCore)经验        <br />
        5、@(DateTime.Now.Year - 2022)年医疗质量软件底代码平台研发        <br />
        6、devextreme控件3年左右前端技术栈                          <br />
        <br />
        负责技术调研及复杂业务实现。
        IOT项目中熟练使用abp插件开发 Grpc,idserver4, RabbiMQ,CsRedis, docker jekens+linux基础知识 网关等分布式项目常用技术与工具                                                                                              <br />
        学习.NetCore&Abpvnext框架的使用，业余时间阅读.NetCore与Abp mvc部分源码源码，受益颇丰。<br />

    </p>

    <div>
        基本信息                                                                                                                                                           <br />
        <br />
        学历	本科	专业	应用物理    毕业/参加工作时间：201107                                                                                                                 <br />
        <br />
        求职意向                                                                                                                                                         <br />
        职位名称	    .Net Core高级/架构                                                                                                                        <br />
        工作地区	    重庆/成都	    期望薪资	20K+                                                                                                                               <br />
        <br />
        自我评价                                                                                                                                            <br />
        1．	热爱软硬件知识，对软件研发有浓厚的兴趣，喜欢钻研问题；                                                                                                     <br />
        2． 工作认真负责、积极上进、团队协作、勤奋好学、待人友好、良好的职业素质；                                                                                   <br />
        <br />
        IT技能                                                                                                                                                             <br />
        	拥有扎实的C#编程功底和良好的编码习惯。                                                                                                                         <br />
        	2011-2013熟练使用cad，phtoshop，dreamweaver，Matlab软件。                                                                                                      <br />
        	2013-2014熟练掌握数据库技术，视图索引，存储过程、触发器、事务,游标等内容。                                                                                     <br />
        	2014-2019熟练使用.NET Framework平台结合Div+Css+JavaScript、Ajax，JQuery、kendo、devexpress、devextreme MVC2~5开发web项目。                                        <br />
        	2019-2020开始搭建自己的.NetCore Abpvnext框架,微服务框架搭建中，github地址…                                                                                   <br />
        	2021-@(DateTime.Now.Year) .NetCore3.1-->.Net8 mvc 主要流程框架源码理解…                                                                                       <br />
        	喜欢研究系统与网络知识，接触过路由器交换机配置，会网吧无盘系统的搭建。                                                                                         <br />
        <br />
        取得证书及奖励                                                                                                                                                     <br />
        	2008年12月，大学英语四级（CET-4）证书                                                                                                                          <br />
        	2009年春季，江苏省计算机二级Visual C++证书                                                                                                                     <br />
        	2009年3月，全国计算机二级Visual C++证书                                                                                                                        <br />
        	2009年9月，全国计算机三级PC技术证书                                                                                                                            <br />
        	2010年9月，二等人民奖学金证书                                                                                                                                  <br />
        	2010年11月，超声检测大赛二等奖证书                                                                                                                             <br />
        	2012年12月，上海材料研究所力学、金相，超声一级证书                                                                                                             <br />
        <br />
        <br />
        <br />
        工作经历                                                                                                                                                           <br />
        时   间	单位名称	职  位                                                                                                                                         <br />
        2011.07~2013.03	广船国际造船事业部	 物理室工艺员                                                                                                                  <br />
        主要工作职责：材料力学性能实验，金相实验，失效分析；同时负责实验室所有电脑设备软硬件的维护与检修。                                                                 <br />
        2014.04~2019.03	重庆诺怀软件	 .Net程序员                                                                                                                         <br />
        2019.03~2021.11	科技(重庆)	 .NetCore高级                                                                                                                       <br />
        2021.11~2023.05	重庆阿克索科技有限公司	 .NetCore高级                                                                                                                   <br />
        2023.04~2024.06	重庆德勤交付中心(外包)	 .NetCore架构+研发                                                                                                              <br />
        <br />

        主要项目经历                                                                                                                                                                       <br />
        重庆德勤交付中心:                                                                                                                                                                         <br />
        2023.04~2024.06：德勤内部审计类工具软件 Web 服务外包项目，独立架构+分析需求+研发，技术:AbpVnext 多租户 Azuer 云等                                                                          <br />
        阿克索:                                                                                                                                                                         <br />
        2021.11~2023.05：   质量软件产品V1.0-V2.x，属于底代码平台，主要改造流程模块1.0,工作代理，实现对象相关新业务等                                                                          <br />
        :                                                                                                                                                                         <br />
        2020.03~2021.11：   物联网IOT，主要使用.NetCore3.1 Abpvnext/微服务框架 对接设备，各种分布式技术工具等，前端加入了vue                                                                                                                             <br />
        2019.03~2020.03：建筑资料产品,主要使用.NetCore3.1 Abpvnext/微服务框架  资料1.0 2.0产品,核心业务开发                                                                                <br />
        诺怀软件:                                                                                                                                                          <br />
        2014.05-2019.03：参与一系列项目与可为物业与汽修产品核心研发                                                                                                             <br />
        个人网站(2017年)：https://shuagnquan.aksoinfo.com  Guest/Guest@123 <br /><br />
        <br />
        项目规模
        渝上锐车行项目 3人                                                                                                          <br />
        威望订单项目 2人                                                                                                                                 <br />
        泛亚项目3人                                                                                                                              <br />
        可为云汽修项目 10人                                                                                                                  <br />
        可为物业产品项目4人                                                                                                                <br />
        香港置地二期项目 3人                                                                                                                     <br />
        重庆逸合计划管理项目 3人                                                                                                               <br />
        Maurice ODC项目8人                                                                                                               <br />
        香港置地地产财务管理系统 4人                                                                                                                                       <br />
        香港置地巡检系统2人                                                                                                                                                <br />
        SPD系列产品10人                                                                                                                                              <br />
        产品+项目组5人                                                                                                                                           <br />
        建筑设备物联网IOT  3人                                                                                                                                                    <br />
        医疗质量软件产品  5人+                                                                                                                                                    <br />
        德勤审计软件web服务外包  1人+                                                                                                                                                    <br />
        <br />
        <br />
        <br />
    </div>

    <div>
        一、2023年-2024年工作回顾:<br />
        <br />重庆德勤(外包)<br />
        1、web服务,服务交互<br />
        2、多租户实现<br />
        3、Azure云<br />
        4、计算数据处理<br />
        <br /><br /><br />
    </div>
    <div>
        二、2022年-2023年工作回顾:<br />
        <br />阿克索EGMP平台：<br />
        1、积木报表 Es sql查询  报表第一版<br />
        2、工作代理 功能 以及(代理，移交)对象化，流程审核功能<br />
        3、安全策略 功能<br />
        4、mysql+sqlserver pgsql等多数据库支持<br />
        5、工作流配置与引擎变更，保留原接口框架设计，内部设计逻辑重构，增加电子签名与工作流历史记录<br />
        6、工作流增加后加签，取消功能  配置包+配置迁移<br />
        7、报表类型与实例配置设计 配置包+配置迁移<br />
        8、计划任务 配置+迁移<br />
        9、增加阿里云邮件发送功能，邮件模板，开关 配置包接口等 <br />
        10、增加微信授权登录，微信SDK接口 增加企业微信向员工发消息  扩展消息模板+配置+配置迁移 ,支持自建应用向微信用户发文本卡片消息<br />
        11、对象实例导入功能第一阶段 ：  模板配置+配置包接口+导出字段说明+数据导入(两周时间:第一周做配置导出及字段注释，第二周做导入，后面沟通说要改造对象设计，现阶段不做所有对象一次性导入需求)<br />
        12、rrweb 两种方案实现 <br />
        13、后台任务改服务，服务优化，配合改bug，配置+需求<br />
        14、所有以上模块，接口异步，仓储更换，update操作<br />
        15、框架代码革命<br />
        <br /><br /><br />
    </div>

    <div>
        三、2019年-2022工作总结:<br />
        <br />:<br />
        项目：中交项目                                                                                           <br />
        2019年12月1日-2020年2月29日                                                                              <br />
        1、接手中交项目，解决中交项目中框架中的重要bug。                                                         <br />
        2、需求分析及构件，任务，表格，追踪记录表数据结构设计及与其它开发人员讨论分析数据库结构。                <br />
        3、完成表格模块增变更，增加表格编辑删除功能。任务构件表格一系列接口，文档服务及配合演示环境的搭建。      <br />
        4、构件产生任务及任务普通增删改查功能。                                                                  <br />
        5、构件，表格，产生追踪记录功能                                                                          <br />
        <br />
        项目：基于电动车—邯钢项目调整                                                                                        <br />
        2020年01月03日-2020年01月20日                                                                                         <br />
        1、结合邯钢需求，在汽研电动车项目基础上完成邯钢项目上传材料，及材料自定义属性，导入导出等功能。                       <br />
        2、为邯钢项目组搭建完整开发框架，完成数据库设计及实体的创建，基础模块代码实现及示例，制定开发计划，帮助提供解决方案.  <br />
        3、解决汽研邯钢项目组遇到的问题,提供思路。下班后培训并帮助他们提升开发能力.                                           <br />
        <br />
        建委BIM平台项目                                                          <br />
        2020年2月3日-2020年2月29日                                               <br />
        1、参与建委新需求讨论及评审                                              <br />
        2、部分建委--BIM平台--三方平台 自定义数据功能设计与实现                  <br />
        <br />
        物联网平台IOT                                                            <br />
        2020年2月20日-2021年11月20日                                             <br />
        1、参与需求分析及讨论。                                                  <br />
        2、负责转发模块业务处理，对接建委建工和第三方平台接口。                  <br />
        3、Abp模块化开发，框架改造。 各种分布式服务技术与工具                    <br />
        <br />
        <br />
        产品：智管云1.0研发<br />
        2019年3月25日-3月31日：<br />
        1、熟悉netcore abp4.7框架.netcore 编程方式，学习netcore中间件，熟悉项目需求<br />
        2、学习SignalR与Redis缓存，调研并应用在项目中。<br />
        3、学会如何在abp框架里写单元测试提高质量。<br />
        <br />
        2019年4月1日-4月31日： <br />
        1、参与云资料系统1.0版本研发，完成运营，消息通知模块功能开发，<br />
        2、提供项目模块部分api，代理审批流程接口<br />
        3、维护用户及公司模块bugs，优化代码。接手前开发人员的任务及重构维护.<br />
        <br />
        智管云1.1研发<br />
        2019年5月1日-2019年6月15日：<br />
        1、参与云资料系统1.1版本研发，按时按质完成规划开发的所有功能，对接用户模块需求。<br />
        2、1.1版本中完成用户模块代理 注册，登录，修改密码手机号等功能。对用户及公司模块进行代码重构，补充验证逻辑，优化代码等。<br />
        3、参与第三方e签保 个人认证，企业认证接口调研与调用，完成用户多张证书，公司公章执照的调整，调研及实现图片全屏文字及图片水印功能。<br />
        4、linux系统，docker容器，filezella使用及项目发布,多项目联调。部分identity认证知识<br />
        5、云资料1.1版本上线前，对系统框架权限的改造及测试，代码优化及重构<br />
        6、修复1.0版本中延期与迭代到1.1版本未完成的bugs。<br />
        <br />
        产品：智管云1.2/1.3版本研发<br />
        2019年6月15日-2019年9月30日<br />
        1、实现监督站账号及演示账号需求及功能。<br />
        2、实现企业用章审批子工作流嵌入项目工作流功能.工作流消息模块变更。<br />
        3、熟悉表格文档服务项目代码，并实现代理接口。<br />
        <br />
        产品：智管云2.0  主要业务逻辑实现 +中交项目演示                           <br />
        2019年10月1日-2019年11月4日                                               <br />
        1、参与部分netcore abpvnext1.0版本框架搭建工作。                          <br />
        2、省市区数据与接口准备。                                                 <br />
        3、整体数据库设计(目录，模板，项目，单位工程，表格)，全项目业务逻辑实现。 <br />
        4、目录树及表格汇总功能。11月4日上线。                                    <br />
        5、中交演示项目：完成 模具、构件、表格、构件追踪记录模块功能              <br />
        6、中交演示项目文档服务模块功能，完成表格管理模块。                       <br />
        <br />
        产品：智管云2.1
        2019年11月4日-2019年11月31日                              <br />
        1、新需求挖掘及分析。                                     <br />
        2、项目单位工程批量更新功能。                             <br />
        3、表格变更及编号的功能。                                 <br />
        4、计划在下一期的报验表模板绑定及创建表格报验表功能。     <br />
        5、维护项目目录树。                                       <br />
        <br /><br /><br />
    </div>

    <div>
        四、2014年-2019工作总结:<br />
        <br />诺怀软件:<br />

        <br />
        香港置地财务系统项目2017.03-2019.03：<br />
        1、前后端框架部分整改优化<br />
        2、几乎参与系统所有模块开发，需求分析<br />
        3、大量数据插入性能优化及技术调研<br />
        4、自己总结devextreme使用dx控件做了部分个人网站功能：http://shuangquan.aksoinfo.com Guest/Guest@123<br />
        <br />
        香港置地巡检项目<br />
        2019年1月1日-3月23日：<br />
        1、后端：初步接触netmvc5 abp框架 完成香港置地巡检项目<br />
        2、前端：主要使用DevExtreme控件+js实现<br />
        3、部分基础模块管理功能，主要实现计划及巡检核心业务逻辑及数据导出word功能。<br />
        4、客户功能演示。<br />

        <br /><br />Maurice crm项目
        <br />2016.05-2017.03:
        <br />1、学习SenchaTouch，Sass，水晶报表，网页动画等技术。
        <br />2、开发过程中能读懂客户的需求文档后，与项目经理讨论后基本可独立完成相应模块的任务。
        <br /><br />重庆逸合计划管理项目
        <br />2016.01-2016.04：
        <br />1、开发，调研并学习了DevExpress插件开发，承担大多核心任务开发。
        <br /><br />Maurice pcm与crm项目
        <br />2015.11-2015.12：
        <br />1、熟悉项目代码，更改bug，积累前端开发知识，初步学习SenchaTouch及sass等知识，丰富css知识。
        <br /><br />可为物业产品2.0
        <br />2015.03 - 2015.10：
        <br /> 1、学习Bootstrap3.0页面布局，KendoUi ，KendoGrid控件，涉及项目的需求、调研、开发、测试、反馈等任务。
        <br /><br />可为汽修产品
        <br />2014.12 -2015.03：
        <br /> 1、能够在项目经理讲解需求之后，独立开发被分配的任务。
        <br /><br />可为物业管理项目与泛亚项目
        <br />2014.10-11 ：
        <br />1、理清需求后可以自己单独做一个模块。对js，linq语句，mvc机制有了更深入的了解，熟练使用Jqrid插件，学到一些前后台代码技巧和方法
        <br />2、泛亚项目： 持续近一个月的独自开发 ，看完客户跟PM的聊天记录，在导师（曹祥坤）的提点下， 自己整理客户需求，数据库设计到模块实现。
        <br />3、物业项目： 参与客户，房间，仪表等基础模块以及合同，收费等复杂模块的开发。
        <br /><br />香港置地二期项目
        <br />2014.08-09 ：
        <br />1、主要负责修改一些bug，后台一些浅显的逻辑，页面样式等， 锻炼了自己编码的能力，熟悉了可为后台代码存取数据的方式。
        <br /><br />渝上锐车行项目与威望公司订单项目
        <br />2014.06-07 ：
        <br />1、主要熟悉了可为框架的实现机制， 并学习html，bootstrap2.3，js，jqgrid，c#linq等技术。
        <br /><br />Nova网站
        <br />2014.05：
        <br />1、进入诺怀,学习html，css ,js,mvc的所有基础知识。
        <br /><br /><br />
    </div>

    <div>
        五、2011年-2013年工作回顾<br />
        <br />广州广船国际：<br />
        1、2011年7月-2012年6月：广州广船国际生产见习，半年劳动见习+半年船台+船坞主管见习<br />
        2、2012年6月-2013年3月：物理实验室工艺员<br />

        <br />广船生产劳动见习总结<br />
        <br />第一阶段：半年劳动见习和制作任务包

        <p>
            2011年7月，我被分配到原总装一部外业课见习（现造船事业部搭载课）。第一个月我们学习了手工焊、CO2半自动焊与氧乙炔气割刀的使用，并取得操作证。接下来在电焊班和装配班分别劳动见习2个月，在这4个月时间里，我们每天跟着电焊班与装配班的师傅一起去干活，帮助他们拉焊线、搬气瓶、焊缝坡口清水清污除锈、贴陶瓷衬垫、点焊卡码、拉三节法兰螺丝、船东船检或者QC报验前清扫分段垃圾，跟船东船检报验等。在帮助他们干活的同时，我们会去认识并记住每天接触的分段样子，还学会了分段是如何总组，吊装时船体那些位置需要作工装加强，分段吊上船台后，如何调平等知识。最后一个月，我们实习工段自己接了任务包——中客4号船的DH3分段，从分段吊上船台开始，调水平，割余量，定位焊，装配报验、电焊打磨、电焊报验及首尾，都由我们自己参与，终于知道了一个分段从开始到完工的整个流程！
        </p>

        <br />第二阶段：三个月质量主管见习

        <p>
            2012年1月，我被分配到搭载课管理股见习，我跟着何景林副股长学习，何师傅主要负责质量这部分，每周至少会有2次现场巡查，检查现场施工质量、工艺纪律、安全文明生产、降本增效节能减排等工作，巡查后对发现的问题出通报给课里和质量部，质量部每天发出的质量信息的落实闭环工作，同时还负责搭载课诚信班组的申请管理，重要焊缝焊接实名制记录，安排船坞与船台产品船搭载课与探伤室的首尾工作。跟着何师傅的这三个月，每次去现场都能学到好多工艺纪律知识，写巡查通报的时候还会学到处理方法，何师傅教会我很多焊接工艺与船体组装的知识，由衷的感谢！
        </p>

        <br />第三阶段：两个月船坞产品主管见习

        <p>
            2012年3月，由于工作安排，我被调去跟着船坞主管王继成。跟着他的这两个多月，每天都有很多事要忙：关心分段进度情况，处理现场施工队施工困难，联系各个工种派工，追架子工搭架，起运工吊工具材料，追电工接电线，编排分段各种报验项目，跟船东电焊、装配、火攻、密试、抽真空、仓室完整性报验，并处理报验首尾工作，通知工长派工，总之负责一切与船体相关的施工问题。还主要学习他处理问题的方式，与船东交流的方法。
        </p>

        <br />第四阶段：一个月工艺技术课工艺员见习

        <p>
            2012年5月，见习期的最后一个月我被安排去跟工艺技术课见习，开始打印复印图纸，整理资料，帮助杨宏坤师姐做焊缝长度统计、焊材定额。后来学习做吊装方案，怎样计算吊码受力大小，到现场看吊码位置是否正确，跟占锋师兄去现场学习他处理各种施工工艺问题，与技术中心交流，与船东船检交底等。
        </p>

    </div>

    <div class="row">

        <!-- MEMBER -->
        <div class="col-md-4">
            <article>
                <img class="img-responsive" src="~/images/logo-parakeet28.jpg" height="200" alt="">
                <div class="team-hover">
                    <div class="team-name">
                        <h5>小鹦鹉</h5>
                        <span>工作室</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </article>
        </div>
        <!-- MEMBER -->
        <div class="col-md-4">
            <article>
                <img class="img-responsive" src="~/images/weixin-public.jpg" height="200" alt="">
                <div class="team-hover">
                    <div class="team-name">
                        <h5>公众号</h5>
                        <span>博文科技</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </article>
        </div>
        <!-- MEMBER -->
        <div class="col-md-4">
            <article>
                <img class="img-responsive" src="~/images/parakeet.png" height="200" alt="">
                <div class="team-hover">
                    <div class="team-name">
                        <h5>小鹦鹉</h5>
                        <span>工作室</span><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

@section scripts
    {
    <script type='text/javascript'>

        $(function() {
        });

    </script>
}
